@import 'components/plans-boxes';
@import 'components/manga';

@import 'bootstrap/bootstrap';
$primary : #04262e;

@font-face {
    font-family: 'Poppins', sans-serif;
    ;
    src: url('../fuentes/SF\ Toontime\ Blotch.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

main.main {
    min-height: calc(100vh - 131px);
}

body {
    background-color: darken($primary, 4%);
}


#app {
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerrar {
    color: #f8f9fa;

    &:hover {
        color: lighten($primary, 30%);
    }
}

.nav-link:hover {
    color: lighten($primary, 30%) !important;
}

.footer p {
    margin-bottom: 0;
}

.margen {
    margin-top: 10rem !important;
    margin-bottom: 3rem !important;
}

.margen-vista {
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;
}

.mt-6 {
    margin-top: 8rem;
}

.mb-6 {
    margin-bottom: 8rem;
}

.ml-5 {
    margin-left: 100px;

    @include media-breakpoint-down(md) {
        margin-left: 0px;
        padding-top: 2rem;

        a {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.naruto {
    @include media-breakpoint-down(md) {
        padding-top: 2rem;

        a {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
        }
    }
}

.radius {
    border-radius: 3rem;
}


.font {
    font-family: 'Poppins', sans-serif;
    ;
}

.btn-primary {
    transition: all .3s ease-in-out;
    border: solid 1px lighten($primary, 20%);
}

.img-comentario{
    border-radius: 200px;
    width: 2.5rem;

}

.btn-primary:hover {
    color: $primary;
    background-color: white;
    border: solid 1px transparent;
}

.btn-secondary {
    background-color: white;
    color: black;

    &:hover {
        background-color: lighten($primary, 10%);
        transition: 300ms;
        border: solid 1px lighten($primary, 30%);
    }
}

.position-absolute {
    left: 55%;
    bottom: 32%;

}

.margen-vista a {
    color: #f8f9fa;

    &:hover {
        color: lighten($primary, 30%);
    }
}

.a-index {
    color: #f8f9fa;

    &:hover {
        color: lighten($primary, 30%);
    }
}

.buscar::placeholder{
    color:white 
}

.alert {
    margin-bottom: 0px !important;
}

.margen-usuario {
    margin-top: 15rem;
    margin-bottom: 3rem;

    @include media-breakpoint-down(md) {
        margin-top: 6rem
    }
}

.gradiant {
    background: linear-gradient($primary, darken($primary, 10%))
}

.gradiant2 {
    background: linear-gradient(darken($primary, 10%), $primary)
}

.bg-purple {
    background-color: darken($primary, 10%)
}

.bg-dark {
    background-color: $primary !important
}

.border {
    border: .3rem lighten($primary, 10%) solid !important;
}

// .bg-dark {
//     background-color: #0c0c0c !important
// }

// .border {
//     border: 0.5rem rgb(156, 155, 155) solid !important;
// }

// .gradiant {
//     background: linear-gradient(#0c0c0c, rgb(156, 155, 155))
// }

// .gradiant2 {
//     background: linear-gradient(rgb(156, 155, 155), #0c0c0c)
// }

// .bg-purple {
//     background-color: rgb(156, 155, 155)
// }
.imgeditar {
    width: 300px;
    height: 462px;
}

.bannerPerfil {
    background-image: url(../img/bannerPerfil.jpg);
    height: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background: lighten($primary, 5%);
}

#perfil #infoPerfil {
    position: relative;
    width: 100%;
}

.perfilimg {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.img-admin{
    width:162px;
    height:266px;
}

#perfil #infoPerfil img {
    width: 220px;
    position: absolute;
    top: -120px;
    left: 5.5%;
    margin: auto;
    @include media-breakpoint-down(sm) {
        left: 0%;
        right: 0%;
    }

}

#perfil #infoPerfil h1 {
    margin-top: 85px;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

#perfil {
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.rounded-3 {
    border-radius: 1rem !important;
}


.fade-out {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 1s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.hero {
    position: relative;
    height: calc(100vh - 56px);
    overflow-y: hidden;

    &::after {
        content: '';
        display: block;
        height: 150px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(0deg, black, transparent);
    }

    .marquee {
        padding: 0 10%;

        @include media-breakpoint-down(xl) {
            padding: 0 20%;
        }
        .marquee-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;

            @include media-breakpoint-down(xl) {
                grid-gap: 2rem;
                grid-template-columns: repeat(1, 1fr);
            }

            width: 100%;

            .item {
                height: 450px;

                &:nth-child(odd) {
                    margin-top: -6rem;
                }

                img {
                    height: 450px;
                    width: 100%;
                    object-fit: cover;
                }

                @include media-breakpoint-down(xl) {
                    &:nth-child(odd) {
                        margin-top: inherit;
                    }

                    height: auto;

                    img {
                        height: auto;
                        max-height: 500px;
                        object-fit: cover;
                    }
                }
            }



        }
    }


    .letras-japonesas {
        opacity: .4;
        color: white;
        font-size: 7rem;
        position: absolute;
        top: 2rem;
        left: 0rem;
        font-weight: 900;

        @include media-breakpoint-down(xl) {
            left: 3rem;
        }
        @include media-breakpoint-down(sm) {
            left: 1rem;
        }
    }
}

.container {
    max-width: 1580px;
}
