$primary : #04262e;
$secondary : lighten($primary, 30%);
@import 'bootstrap/bootstrap';

@import 'components/plans-boxes';
@import 'components/manga';
@import 'components/hero';
@import 'components/cards';

@font-face {
    font-family: 'Poppins', sans-serif;
    ;
    src: url('../fuentes/SF\ Toontime\ Blotch.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

main.main {
    min-height: calc(100vh - 131px);
}

body {
    background-color: darken($primary, 4%);
}


#app {
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerrar {
    color: #f8f9fa;

    &:hover {
        color: $secondary;
    }
}

.nav-link:hover {
    color: $secondary !important;
}

.footer p {
    margin-bottom: 0;
}

.margen {
    margin-top: 10rem !important;
    margin-bottom: 3rem !important;
}

.margen-vista {
    margin-top: 6rem !important;
    margin-bottom: 3rem !important;
}

.mt-6 {
    margin-top: 8rem;
}

.mb-6 {
    margin-bottom: 8rem;
}

.ml-5 {
    margin-left: 100px;

    @include media-breakpoint-down(md) {
        margin-left: 0px;
        padding-top: 2rem;

        a {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.naruto {
    @include media-breakpoint-down(md) {
        padding-top: 2rem;

        a {
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            width: 85%;
        }
    }
}

.radius {
    border-radius: 3rem;
}


.font {
    font-family: 'Poppins', sans-serif;
    ;
}

.btn-primary {
    transition: all .3s ease-in-out;
    border: solid 1px lighten($primary, 20%);
}

.img-comentario{
    border-radius: 200px;
    width: 2.5rem;

}
.estrellita{
    height: 20px;
}

.btn-primary:hover {
    color: $primary;
    background-color: white;
    border: solid 1px transparent;
}

.btn-secondary {
    background-color: white;
    color: black;

    &:hover {
        background-color: lighten($primary, 10%);
        transition: 300ms;
        border: solid 1px $secondary;
    }
}

.position-absolute {
    left: 55%;
    bottom: 32%;

}

.margen-vista a {
    color: #f8f9fa;

    &:hover {
        color: $secondary;
    }
}

.a-index {
    color: #f8f9fa;

    &:hover {
        color: $secondary;
    }
}

.buscar::placeholder{
    color:white 
}

.alert {
    margin-bottom: 0px !important;
}

.margen-usuario {
    margin-top: 15rem;
    margin-bottom: 3rem;

    @include media-breakpoint-down(md) {
        margin-top: 6rem
    }
}

.gradiant {
    background: linear-gradient($primary, darken($primary, 10%))
}

.gradiant2 {
    background: linear-gradient(darken($primary, 10%), $primary)
}

.bg-purple {
    background-color: darken($primary, 10%)
}

.bg-dark {
    background-color: $primary !important
}

.border {
    border: .3rem lighten($primary, 10%) solid !important;
}

// .bg-dark {
//     background-color: #0c0c0c !important
// }

// .border {
//     border: 0.5rem rgb(156, 155, 155) solid !important;
// }

// .gradiant {
//     background: linear-gradient(#0c0c0c, rgb(156, 155, 155))
// }

// .gradiant2 {
//     background: linear-gradient(rgb(156, 155, 155), #0c0c0c)
// }

// .bg-purple {
//     background-color: rgb(156, 155, 155)
// }
.imgeditar {
    width: 300px;
    height: 462px;
}

.bannerPerfil {
    background-image: url(../img/bannerPerfil.jpg);
    height: 170px;
    background-repeat: no-repeat;
    background-position: center center;
    background: lighten($primary, 5%);
}

#perfil #infoPerfil {
    position: relative;
    width: 100%;
}

.perfilimg {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.img-admin{
    width:162px;
    height:266px;
}

#perfil #infoPerfil img {
    width: 220px;
    position: absolute;
    top: -120px;
    left: 5.5%;
    margin: auto;
    @include media-breakpoint-down(sm) {
        left: 0%;
        right: 0%;
    }

}

#perfil #infoPerfil h1 {
    margin-top: 85px;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

#perfil {
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
}

.rounded-3 {
    border-radius: 1rem !important;
}


.fade-out {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 1s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.container {
    max-width: 1580px;
}
