$breakpoints: (
  "xs": (min-width: 0),
  "sm": (min-width: 576px),
  "md": (min-width: 768px),
  "lg": (min-width: 992px),
  "xl": (min-width: 1200px)
);

@function media($query) {
  @if map-has-key($breakpoints, $query) {
    $media: map-get($breakpoints, $query);
    @if index($query, "down") {
      @return #{'(max-width: #{map-get($breakpoints, $query + 1)})'};
    }
    @else if index($query, "up") {
      @return #{'(min-width: #{map-get($breakpoints, $query)})'};
    }
    @else if index($query, "in") {
      $nextQuery: nth(map-keys($breakpoints), index(map-keys($breakpoints), $query) + 1);
      @return #{'(min-width: #{map-get($breakpoints, $query)}) and (max-width: #{map-get($breakpoints, $nextQuery)})'};
    }
  }
  @else {
    @error "The breakpoint #{$query} does not exist in the $breakpoints map.";
  }
}