
$primary : #04262e;
.manga {
    border-radius: 20px;
    background: #666;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }

    .h1 {
        font-size: 2em;
        font-weight: 900;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        color: #fff !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        color:lighten($primary,20%);

        &:hover {
            
            background-color: rgba(0, 0, 0, 0.7);
            transition: 500ms;
        }
    }


    &:hover .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &:hover {
        border: solid 2px white;
        transition: 300ms !important;
    }

    .btn {
        background: #fff;
        font-weight: 900;
    }

}

.mangaid {

    img {
        width: 300px;
        height: 100%;
    }
}
